body {
    background-color: black;
    text-align: center;
    font-family: "Lucida Console", serif;
}

th, td, h1, h2 {
    color: antiquewhite;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

#form{
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.positive {
    color: red;
}

.negative {
    color: greenyellow;
}

input, button {
    width: 22%;
    height: 40px;
    float: left;
    margin-left: 2.3%;

    font-family: "Lucida Console", serif;
    font-size: 30px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;

    overflow: hidden;

    border: 3px solid antiquewhite;
    background-color: black;
    color: antiquewhite;
}

input[type="submit"]:hover, button:hover {
    background-color: antiquewhite;
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: antiquewhite;
}

table {
    width: 100%;
}

th, td, .material-icons {
    border: 2px solid antiquewhite;
}

.material-icons {
    width: 100%;
}

th {
    font-size: 40px;
}

td {
    font-size: 20px;
}


